.Mui-selected {
  background-color: rgb(200, 156, 241) !important;
}

.myBackground{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d49beb;
  background: linear-gradient(311deg, rgba(212, 155, 235, 1) 0%, rgba(242, 107, 224, 1) 30%, rgba(107, 114, 242, 1) 65%, rgba(142, 49, 204, 1) 100%);
}


.whiteBox{
  background-color: white;
  padding: 20px;
  min-width: 300px;
  height: 70%;
  width: 25%;
  border: 1px solid #333;
}

.itemBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  /* background-color: rgb(216, 172, 245); */
  
}

.title{
  font-size: 35px;
}

.myForm{
  width: 100%;
}

.myButton{
  width: 70%
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
